@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@400;700&display=swap');

.punk-border {
  position: relative;
  padding: 20px 25px;
  align-items: center;
  justify-content: center;
  border: 2px solid #02d8f3 !important;
  border-radius: 0 !important;
  outline: none;
  color: #fff;
  font-family: 'Tomorrow', sans-serif;
  font-size: .85rem;
  clip-path: polygon(92% 0, 100% 10%, 100% 100%, 8% 100%, 0% 90%, 0 0);
  background-color: rgba(0,0,0,0.5) !important;
  -webkit-box-shadow: 10px 10px 20px -8px rgba(2,216,243,1);
  -moz-box-shadow: 10px 10px 20px -8px rgba(2,216,243,1);
  box-shadow: 10px 10px 20px -8px rgba(2,216,243,1);
}

.punk-label {
  color: #081118;
  font-size: .40rem;
  position: absolute;
  bottom: -3px;
  right: 8%;
  padding: 0 5px;
  background-color: #fcee09;
  z-index: 3;
  border-left: 1px solid #00f0ff;
}
.punk-glitch {
  display: none;
  position: absolute;
  top: 0;
  left: -2%;
  width: 105%;
  height: 100%;
  background-color: #081118;
  border-top: 2px solid purple;
  border-bottom: 2px solid purple;
  filter: drop-shadow(-2px 3px #67e3f3) drop-shadow(-1px -3px #02d8f3) drop-shadow(2px 1px #02d8f3);
}
.punk-border:hover .punk-glitch,
.punk-border:hover .btn__content::after,
.punk-border:focus .punk-glitch,
.punk-border:focus .btn__content::after {
  display: block;
  animation: glitch-animation 5s linear 0s infinite;
}

@keyframes glitch-animation {
  0% {
    opacity: 1;
    transform: translateZ(0);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }

  0.5% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(-5px);
  }

  1% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(5px);
  }

  1.5% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(-5px);
  }

  2% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(0);
  }

  2.5% {
    clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    transform: translate3d(5px, 0, 0);
  }

  3% {
    clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    transform: translateZ(0);
  }

  3.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    transform: translate3d(5px, 0, 0);
  }

  3.5% {
    clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    transform: translate3d(5px, 0, 0);
  }

  4% {
    clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    transform: translate3d(-5px, 0, 0);
  }

  4.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    transform: translate3d(5px, 0, 0);
  }

  4.5% {
    clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    transform: translate3d(5px, 0, 0);
  }

  5% {
    clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    transform: translate3d(-5px, 0, 0);
  }

  5.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }

  5.5% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(-5px);
  }

  6% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(5px);
  }

  6.5% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(-5px);
  }

  7% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(0);
  }

  7.5% {
    clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    transform: translate3d(5px, 0, 0);
  }

  8% {
    clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    transform: translateZ(0);
    opacity: 1;
  }

  8.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 1;
  }

  to {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 1;
  }
}